<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a4fc66">  <td>18/03/07 17:16:25</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;TestReproShop.setup()[pri:0, instance:seavus.tech.task.TechTask.TestReproShop@ae45eb6]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@832947102</td>   <td></td> </tr>
<tr bgcolor="a4fc66">  <td>18/03/07 17:16:26</td>   <td>21</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestReproShop.beforeMethod()[pri:0, instance:seavus.tech.task.TechTask.TestReproShop@ae45eb6]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@832947102</td>   <td></td> </tr>
<tr bgcolor="a4fc66">  <td>18/03/07 17:16:26</td>   <td>30</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestReproShop.testHomePageAppears()[pri:0, instance:seavus.tech.task.TechTask.TestReproShop@ae45eb6]">testHomePageAppears</td> 
  <td>main@832947102</td>   <td></td> </tr>
<tr bgcolor="a4fc66">  <td>18/03/07 17:16:26</td>   <td>46</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestReproShop.testKategorije()[pri:0, instance:seavus.tech.task.TechTask.TestReproShop@ae45eb6]">testKategorije</td> 
  <td>main@832947102</td>   <td></td> </tr>
</table>
